<!DOCTYPE html>
<html>

<head>
	<title>Contacts for {{company_name}}</title>
	<link rel="stylesheet" href="../assets/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
	<div class="infoBubble titleBar">
		<h1>Data Project</h1>
		<a class='button' href="{{ url_for('index') }}">Home</a>
		<a class='button' href="{{ url_for('tech_form') }}">Enter Tech</a>
	</div>
	<div class="p-4">
		<header class="justify-content-center mb-5 d-flex">
			<h1><b>{{company_name}} Contacts</b></h1>
		</header>
			<div class="row row-cols-2 row-cols-lg-5 justify-content-center d-flex">
				{% for row in data %}
				<div class="infoBubble col p-5">
					<ul>
						<lh class="header">{{ row[3] }} {{ row[2] }}</lh>
						<li>{{ row[4] }}</li>
						<li>{{ row[5] }}</li>
						<li>{{ row[6] }}</li>
						<li>{{ row[7] }}</li>
						<li>{{ row[8] }}</li>
					</ul>
					<form method="POST" action="/modify_contact">
						<input type="hidden" name="contact_id" value="{{row[0]}}">
						<input type="hidden" name="company_id" value="{{row[1]}}">
						<input type="hidden" name="contact_last" value="{{row[2]}}">
						<input type="hidden" name="contact_first" value="{{row[3]}}">
						<input type="hidden" name="contact_area" value="{{row[4]}}">
						<input type="hidden" name="contact_phone" value="{{row[5]}}">
						<input type="hidden" name="contact_future" value="{{row[7]}}">
						<input type="hidden" name="contact_notes" value="{{row[8]}}">
						<input type="hidden" name="contact_lastcomm" value="{{row[6]}}">
						<input type="submit" value="Modify" class="button">
					</form>
					<form method="POST" action="/delete_contact">
						<input type="hidden" name="contact_id" value="{{row[0]}}">
						<input type="hidden" name="contact_last" value="{{row[2]}}">
						<input type="hidden" name="contact_first" value="{{row[3]}}">
						<input type="hidden" name="company_id" value="{{row[1]}}">
						<input type="submit" value="Delete" class="button">
					</form>
				</div>
				{% endfor %}
			</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	crossorigin="anonymous"></script>

</html>